<h2>Welcome to Police Occurrence Form</h2>

<p>Please, tell us what happened!</p>

<%= form_for :occurrence, url: occurrences_path do |f| %>
  <p>
   <%= f.hidden_field :coordinate, value: @occurrence.coordinate %> 
  <p>
    <%= f.label :'occurrence_type:' %><br>
    <%= f.select :occurrence_type_id, make_occurrences_drop_down %> 
  </p>
  <p>
    <%= f.label :'description:' %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back to map', root_path %>

<% if @occurrence.errors.any? %>
<div id = "error explanation">
  <h3><%= pluralize(@occurrence.errors.count, "error") %> found! Verify your form before continuing:</h3>
  <ul>
    <% @occurrence.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>